SERVICE_NAME=inventory-service
SERVICE_PORT=8003
DATABASE_URL=mysql+pymysql://inventory_user:inventory_pass@mysql:3306/inventory_db?charset=utf8mb4
JWT_SECRET=cambiar_en_produccion_pero_compartido_entre_servicios
JWT_ALGORITHM=HS256
REDIS_URL=redis://redis:6379/0
