SERVICE_NAME=catalog-service
SERVICE_PORT=8002
DATABASE_URL=mysql+pymysql://catalog_user:catalog_pass@mysql:3306/catalog_db?charset=utf8mb4
JWT_SECRET=cambiar_en_produccion_pero_compartido_entre_servicios
JWT_ALGORITHM=HS256
REDIS_URL=redis://redis:6379/0
