SERVICE_NAME=auth-service
SERVICE_PORT=8001
DATABASE_URL=mysql+pymysql://auth_user:auth_pass@mysql:3306/auth_db?charset=utf8mb4
JWT_SECRET=cambiar_en_produccion_pero_compartido_entre_servicios
JWT_ALGORITHM=HS256
JWT_ACCESS_TTL_MINUTES=15
JWT_REFRESH_TTL_DAYS=7
SMTP_HOST=mailhog
SMTP_PORT=1025
SMTP_FROM=no-reply@tiendadigital.local
